<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Staging</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.spothopperapp.staging.EasyMenu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1490751554536520</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>FacebookAppID</key>
	<string>1490751554536520</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Easy Menu will use your location to discover nearby spots.</string>
	<key>SpotHopperSettings</key>
	<dict>
		<key>AppURLScheme</key>
		<string>instantmenustaging</string>
		<key>BaseUrl</key>
		<string>http://spothopper-staging.herokuapp.com</string>
		<key>BitlyAPIKey</key>
		<string>R_11cbfeb881bd416fa9328fc8d239f0f8</string>
		<key>BitlyAccessToken</key>
		<string>b7ec1a2bb2d708bb0fd57d603d6f3b3a321c995c</string>
		<key>BitlyShortURL</key>
		<string>http://go.spotapps.co</string>
		<key>BitlyUsername</key>
		<string>spothopper</string>
		<key>Configuration</key>
		<string>Staging</string>
		<key>CrashlyticsKey</key>
		<string>35aca4223395cee9b73550f97a3022ea413e2c71</string>
		<key>Debug</key>
		<false/>
		<key>MixpanelToken</key>
		<string>431719ed4a139acac8b71bab40fa17c9</string>
		<key>ParseApplicationID</key>
		<string>e7ynWt1Awl8MRH1PNtLqouvZTboLSv1CajoEzdOA</string>
		<key>ParseClientKey</key>
		<string>u19chmbzr47a3Sx8GVGZrvZslV4ZJczPFSR3Gkt9</string>
		<key>TrackingEnabled</key>
		<true/>
		<key>TransloaditAPIKey</key>
		<string>13f353c0b5c711e380700d9414c75dd9</string>
		<key>TransloaditDrinksTemplate</key>
		<string>e1e2abb0b85011e3922975ac311ef1ad</string>
		<key>TransloaditSpecialsTemplate</key>
		<string>7073285052de11e489a56f9623cf8362</string>
		<key>TransloaditSpotsTemplate</key>
		<string>e4d0a1e0bad711e3a65f511453b70f22</string>
		<key>TransloaditUsersTemplate</key>
		<string>a7a29840bad811e39d0109b45d670766</string>
		<key>TwitterConsumerKey</key>
		<string>FeB6rg5yUFu7aL9InVmxQ</string>
		<key>TwitterConsumerSecret</key>
		<string>diroak8ksZoZu1BMA5U6lp5WBgJWAAGkoJsYGnjGwrI</string>
		<key>WebsiteUrl</key>
		<string>http://spothopper-staging.herokuapp.com</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>avantgardef-book-webfont.ttf</string>
		<string>MyriadPro-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>EasyMenu</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
