<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SpotHopper</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.spothopperapp.SpotHopper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb504677422978889</string>
				<string>spothopper</string>
				<string>spothopperapp</string>
				<string>spothopperv2</string>
				<string>spothopperappv2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>FacebookAppID</key>
	<string>504677422978889</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>avantgardef-book-webfont.ttf</string>
		<string>MyriadPro-Bold.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>SpotHopper</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>SpotHopperSettings</key>
	<dict>
		<key>MixpanelToken</key>
		<string>003978c7399ef9503dd3edbc92ca50d0</string>
		<key>TrackingEnabled</key>
		<true/>
		<key>BitlyUsername</key>
		<string>spothopper</string>
		<key>BitlyAPIKey</key>
		<string>R_11cbfeb881bd416fa9328fc8d239f0f8</string>
		<key>BitlyShortURL</key>
		<string>http://go.spotapps.co</string>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
