<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Staging</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.spothopperapp.staging.SpotHopper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spothopperappstaging</string>
				<string>fb580342112079086</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.1</string>
	<key>SpotHopperSettings</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>BitlyAPIKey</key>
		<string>R_11cbfeb881bd416fa9328fc8d239f0f8</string>
		<key>BitlyShortURL</key>
		<string>http://go.spotapps.co</string>
		<key>BitlyUsername</key>
		<string>spothopper</string>
		<key>MixpanelToken</key>
		<string>3ac20701be2cc0a75809e4b6f7886039</string>
		<key>TrackingEnabled</key>
		<true/>
		<key>TwitterConsumerKey</key>
		<string>enlXFrFlBlOPkaBoOJunQ</string>
		<key>TwitterConsumerSecret</key>
		<string>UHRcQ8WXs13Iug7VpliivDxwQuGtoMg5KsaoIF3jWbM</string>
		<key>AppURLScheme</key>
		<string>spothopperappstaging</string>
		<key>BaseUrl</key>
		<string>http://spothopper-staging.herokuapp.com</string>
		<key>WebsiteUrl</key>
		<string>http://spothopper-staging.herokuapp.com</string>
		<key>ParseApplicationID</key>
		<string>e7ynWt1Awl8MRH1PNtLqouvZTboLSv1CajoEzdOA</string>
		<key>ParseClientKey</key>
		<string>u19chmbzr47a3Sx8GVGZrvZslV4ZJczPFSR3Gkt9</string>
	</dict>
	<key>FacebookAppID</key>
	<string>580342112079086</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>avantgardef-book-webfont.ttf</string>
		<string>MyriadPro-Bold.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>SpotHopper</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
