<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SpotHopper</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.spothopperapp.SpotHopper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spothopper</string>
				<string>spothopperapp</string>
				<string>fb504677422978889</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.4.0</string>
	<key>FacebookAppID</key>
	<string>504677422978889</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>SpotHopper will use your location to show you the best local recommendations.</string>
	<key>SpotHopperSettings</key>
	<dict>
		<key>Configuration</key>
		<string>Production</string>
		<key>TransloaditAPIKey</key>
		<string>13f353c0b5c711e380700d9414c75dd9</string>
		<key>TransloaditTemplate</key>
		<string>9124ba30b84e11e3b1c3d5d9c59c9917</string>
		<key>AppURLScheme</key>
		<string>spothopper</string>
		<key>BaseUrl</key>
		<string>https://api.spotapps.co</string>
		<key>BitlyAPIKey</key>
		<string>R_11cbfeb881bd416fa9328fc8d239f0f8</string>
		<key>BitlyAccessToken</key>
		<string>b7ec1a2bb2d708bb0fd57d603d6f3b3a321c995c</string>
		<key>BitlyShortURL</key>
		<string>http://go.spotapps.co</string>
		<key>BitlyUsername</key>
		<string>spothopper</string>
		<key>CrashlyticsKey</key>
		<string>35aca4223395cee9b73550f97a3022ea413e2c71</string>
		<key>Debug</key>
		<false/>
		<key>MixpanelToken</key>
		<string>003978c7399ef9503dd3edbc92ca50d0</string>
		<key>ParseApplicationID</key>
		<string>8gsK1txoPG66EvpzxhHPFJeeNjWTwe1SF5j1jIKN</string>
		<key>ParseClientKey</key>
		<string>z86QKJFiLmSxWAekThVpTo8yLpp29nekhTiUgV2i</string>
		<key>TrackingEnabled</key>
		<true/>
		<key>TwitterConsumerKey</key>
		<string>FeB6rg5yUFu7aL9InVmxQ</string>
		<key>TwitterConsumerSecret</key>
		<string>diroak8ksZoZu1BMA5U6lp5WBgJWAAGkoJsYGnjGwrI</string>
		<key>WebsiteUrl</key>
		<string>http://www.spothopperapp.com</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>avantgardef-book-webfont.ttf</string>
		<string>MyriadPro-Bold.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>SpotHopper</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
